body{
    font-family: "Amatic SC", sans-serif;
    background: rgb(172, 24, 73);
    color: rgba(0, 0, 0, 0.774);
    margin: 0px;
    margin-bottom: 100px;
}
.chamada{
    background:rgb(199, 78, 78);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
header{
    font: size 40;
    color:blueviolet
    border-bottom 3px solid darkred
    padding 20px;
}
h1{
    font-size: 35px;
}
.chamada-texto{
    margin: right 5%; 
}